<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
        <title>Home</title>
    </head>
    <body>
        <b:navBar brand="Employee Information System" brandHref="/" inverse="true">
            <!-- Following line is needed for TBS 3.0.1 (panel content overflow issue) -->
            <b:navbarLinks pull="right"><b:navLink value="    " href="#"/></b:navbarLinks>
        </b:navBar>

        <b:jumbotron>
            <b:container fluid="true">
                <h:form>
                    <div style="text-align: right">
                        <p:commandButton value="Add"/>
                    </div>
                </h:form>
            </b:container>
        </b:jumbotron>
    </body>
</html>

